In [9]:
# Paso 1: Importar la librería pandas, que es nuestra herramienta principal para trabajar con datos.
# La renombramos como 'pd' por convención, para escribir menos.
import pandas as pd

# Paso 2: Definir la ruta donde se encuentra nuestro archivo CSV.
# Usamos '../' para indicarle que suba un nivel desde la carpeta 'notebooks' a la raíz del proyecto,
# y luego entre en la carpeta 'data'.
# Asegúrate de que el nombre del archivo coincida exactamente con el que descargaste.
file_path = 'data/Womens Clothing E-Commerce Reviews.csv'

# Paso 3: Cargar el archivo CSV en un DataFrame de pandas.
# Un DataFrame es como una tabla de Excel superpoderosa con la que podemos interactuar con Python.
df = pd.read_csv(file_path)

# Paso 4: ¡Verificar que todo ha salido bien!
# El comando .head() nos muestra las primeras 5 filas de nuestro DataFrame.
# Es la mejor manera de confirmar que los datos se han cargado correctamente.
print("¡Datos cargados con éxito! Estas son las primeras 5 filas:")
df.head()

¡Datos cargados con éxito! Estas son las primeras 5 filas:

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [10]:
# El comando .info() es como una radiografía de nuestros datos.
# Nos muestra:
# 1. El número total de filas y columnas.
# 2. El nombre de cada columna.
# 3. La cantidad de valores "no nulos" por columna (clave para detectar datos faltantes).
# 4. El tipo de dato de cada columna (números, texto, etc.).

print("--- Información General del DataFrame ---")
df.info()

--- Información General del DataFrame ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [11]:
# El comando .describe() calcula estadísticas descriptivas para las columnas numéricas.
# Nos da el conteo, la media (promedio), la desviación estándar, el mínimo, el máximo
# y los percentiles. Es perfecto para tener una primera idea de la distribución de los datos.

print("\n--- Resumen Estadístico de las Columnas Numéricas ---")
df.describe()

--- Resumen Estadístico de las Columnas Numéricas ---

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count
count,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000
mean,11742.500000,918.118709,43.198544,4.196032,0.822362,2.535936
std,6779.968547,203.298980,12.279544,1.110031,0.382216,5.702202
min,0.000000,0.000000,18.000000,1.000000,0.000000,0.000000
25%,5871.250000,861.000000,34.000000,4.000000,1.000000,0.000000
50%,11742.500000,936.000000,41.000000,5.000000,1.000000,1.000000
75%,17613.750000,1078.000000,52.000000,5.000000,1.000000,3.000000
max,23485.000000,1205.000000,99.000000,5.000000,1.000000,122.000000